<%layout('layouts/boilerplate') -%>

    <div class="row">
        <div class="col-md-6 offset-md-3 ">
    <a href="/journals/new">New Journal Entry</a>
    <%for(let journal of allJournals){%>
        <h3><a href="/journals/<%=journal.id%>"><%=journal.title%></a></h3>
        <p><%=journal.entry%></p>
        <small><%=journal.date%></small>
    <%}%> 
   </div>
  </div>
</div>
